@media screen and (min-width: 768px) {
    .title {
        margin-top: 90px;
        margin-bottom: 110px;
    }

    .title__picture {
        float: left;
        margin-right: 20px;
        height: 126px;
    }

    .title__name {
        margin-left: 20px;
        height: 126px;

        .title__name__subtitle {
            padding-top: 24px;
        }
    }

    .portfolio__element {
        display: inline-block;
        vertical-align: top;
        height:82px;
        width: 33%;
    }
}

@media screen and (max-width: 767px) {
    .title__picture {
        text-align: center;
    }

    .title__name {
        text-align: center;
    }

    .portfolio__element {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 319px) {
    .landing {
        display: none;
    }

    .landing_placeholder_small_screen {
        display: block;
    }
}

@media screen and (min-width: 320px) {
    .landing_placeholder_small_screen {
        display: none;
    }
}

.portfolio__element {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px dashed darkgrey;
}
.portfolio__element__status {
    opacity: 0.5;
    margin-bottom: 10px;
}

.landing {
    max-width: 1200px;
    margin: 0 auto;
}

.color_scheme {
    .color_scheme__button {
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
    }
}

.title__picture__img {
    width: 100px;
}

.page_block:not(:first-child) {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .contacts {
        padding-left: 20px;
        height: 180px;

        .contacts__qr {
            float: right;
            height: 100%;

            .contacts__qr__img {
                margin-top: 10px;
                margin-right: 10px;
                height: 180px;
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .contacts {
        text-align: center;
        width: 100%;

        .contacts__table {
            display: inline-block;
            text-align: left;
        }

        .contacts__qr {
            display: none;
        }
    }
}

.contacts {
    border: 1px dashed darkgrey;
    padding-bottom: 20px;
}