.experience__element {
    margin-top: 40px;
    margin-bottom: 25px;
    cursor: pointer;

    .experience__element__dates {
        opacity: 0.5;
    }

    .experience__element__description {
        padding-left: 15px;
        cursor: auto;
    }
}