@font-face {
    font-family: 'PTMono';
    src: local('PTMono'), url(./assets/fonts/PTMono-Regular.ttf) format('truetype');
}

body {
    font-family: 'PTMono', monospace;

    // for dark theme
    // background-color: #121212;
    // color: white;
}

// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: #121212;
//         color: white;
//     }

//     img {
//         opacity: .75;
//         transition: opacity .5s ease-in-out;
//     }

//     img:hover {
//         opacity: 1;
//     }
// }

body.dark {
        background-color: #121212;
        color: white;

    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }

    img:hover {
        opacity: 1;
    }

    a {
        color:#aeaee4;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding: 20px;
        margin: 0px;
    }
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
}

.opacity_50 {
    opacity: 50%;
}